Source: epson-laser-printer-escpage
Section: contrib/misc
Priority: optional
Maintainer: Seiko Epson Corporation <linux-printer@epson.jp>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: epson-laser-printer-escpage
Architecture: any
Depends: ${shlibs:Depends}, cups
Description: Epson Laser Printer Driver (ESC/Page) for Linux
 This software is a filter program used with Common UNIX Printing
 System (CUPS) from the Linux. This can supply the high quality print
 with Seiko Epson Laser Printers.
 .
 This product supports only EPSON ESC/Page printers. This package can be
 used for all EPSON ESC/Page printers.
 .
 For detail list of supported printer, please refer to below site:
 http://download.ebz.epson.net/dsc/search/01/search/?OSC=LX

